@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #000000;
  -webkit-font-smoothing: antialiase; /*Ficar melhor farmatado serrilhado*/
}

html {
  background: linear-gradient(120deg, #F2F3F9 -14.45%, #F2F3F9 106.15%);
}